.button {
    display: inline-block;
    appearance: none;
    border: none;
    background-color: inherit;
    font-weight: 700;
    padding: 0;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        outline: none;
    }

    .icon {
        font-size: 1.5em;
    }
}

.button__body {
    display: flex;
    gap: var(4);
    align-items: center;
    padding: var(--s1) var(--s4);
    transition: all 0.3s linear;
    width: 100%;
    height: 100%;
}

.button--primary {
    .button__body {
        background: var(--c-green);
        color: var(--c-white);
    }

    &:hover,
    &:focus-visible {
        .button__body {
            background-color: var(--c-burgendy);
        }
    }
}

.button--text {
    .button__body {
        padding: 0;
    }

    &:hover,
    &:focus-visible {
        color: var(--c-burgendy);
    }
}

.button--round {
    .button__body {
        padding: rem(4);
        border-radius: 50%;
    }
}