<app-loading *ngIf="loading"></app-loading>
<form action="" (ngSubmit)="saveOpeningHours()" [hidden]="loading || erroredOnSave || savedSuccess">
    <div class="form__header">
        <h2>Opening hours</h2>
        <button
            class="button button--primary button--save"
            type="submit"
            (click)="saveOpeningHours()"
            title="Save"            >
            <span class="button__body">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="assets/svg/symbols.svg#icon--floppy"></use>
                </svg>
                <span class="button__text">Save</span>
            </span>
        </button>
    </div>
    <div *ngIf="openingHours" class="flow-3">
        <section *ngFor="let day of openingHours" class="form__section">
            <fieldset class="form__row">
                <div>
                    <legend><strong>{{ day.day }}</strong></legend>
                </div>
                <div class="input">
                    <label class="vh" [for]="'open' + day.day">Opening time</label>
                    <input
                        type="text"
                        placeholder="Open"
                        [id]="'open' + day.day"
                        [name]="'open' + day.day"
                        [(ngModel)]="day.open"
                        [required]="!day.closed"
                        [disabled]="day.closed"
                    />
                </div>
                <div class="input">
                    <label class="vh" [for]="'close' + day.day">Closing time</label>
                    <input
                        type="text"
                        placeholder="Close"
                        [id]="'close' + day.day"
                        [name]="'close' + day.day"
                        [(ngModel)]="day.close"
                        [required]="!day.closed"
                        [disabled]="day.closed"
                    />
                </div>
                <div class="input">
                    <label class="vh" [for]="'closed' + day.day" class="checkbox">
                        <input
                            [id]="'closed' + day.day"
                            type="checkbox"
                            class="vh"
                            [name]="'closed' + day.day"
                            [(ngModel)]="day.closed"
                            (ngModelChange)="onClosedToggle(day)"
                        />
                        <span class="checkbox__outer" aria-hidden="true">
                            <svg class="icon" *ngIf="day.closed">
                                <use xlink:href="/assets/svg/symbols.svg#icon--check-mark"></use>
                            </svg>
                        </span>
                        <span>Closed</span>
                    </label>
                </div>
            </fieldset>
        </section>
        
    </div>
    <div class="form__actions">
        <button
            class="button button--primary button--save"
            type="submit"
            (click)="saveOpeningHours()"
            title="Save"
        >
            <span class="button__body">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="assets/svg/symbols.svg#icon--floppy"></use>
                </svg>
                <span class="button__text">Save</span>
            </span>
        </button>
    </div>
</form>

<section [hidden]="!erroredOnSave || (loading || savedSuccess)">
    <div class="flow-3">
        <h2>Something went wrong</h2>
        <button class="button button--primary" type="button" (click)="showForm()">
            <span class="button__body">Try again</span>
        </button>
    </div>
</section>

<section [hidden]="!savedSuccess || (loading || erroredOnSave)">
    <div class="flow-3">
        <h2>Saved successfully</h2>
        <button class="button button--primary" type="button" (click)="showForm()">
            <span class="button__body">Edit</span>
        </button>
    </div>
</section>
