<nav>
    <ul class="dashboard-nav">
        <li>
            <a
                [routerLink]="['/admin/dashboard']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/admin/dashboard/authorised-users']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <span>Users</span>
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/admin/dashboard/edit-opening-hours']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <span>Edit opening hours</span>
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/admin/dashboard/edit-prices']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <span>Edit prices</span>
            </a>
        </li>

        <li class="user" *ngIf="user">
            <button class="button button--user" [ngClass]="{'active': subnavOpen}" (click)="subnavOpen = !subnavOpen">
                <span class="button__body">
                    <svg class="icon icon--user">
                        <use xlink:href="/assets/svg/symbols.svg#icon--user"></use>
                    </svg>
                    <span class="button__text">{{ user.displayName }}</span>
                    <svg class="icon icon--chevron">
                        <use xlink:href="/assets/svg/symbols.svg#icon--chevron-bottom"></use>
                    </svg>
                </span>
            </button>
            <ul *ngIf="subnavOpen">
                <li>
                    <button class="button button--primary button--logout" (click)="logout()">
                        <span class="button__body">Log out</span>
                    </button>
                </li>
            </ul>
        </li>

    </ul>
</nav>
