* {
    box-sizing: border-box;
}

::selection {
    background-color: var(--c-green);
    color: var(--c-white);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--c-greyLight);
}

main {
    font-size: var(--f4);
    background-color: var(--c-white);
    flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

img {
    max-width: 100%;
}

form {
    max-width: rem(600);
    margin: 0 auto;
}

label {
    line-height: 1;
}

input {
    display: block;
    width: 100%;
    padding: var(--s1) var(--s2);
    border-radius: 0;
    border: 1px solid var(--c-black);
    font-size: var(--f2);
}

address {
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}