* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--c-greyLight);
}

header {
    border-bottom: 8px solid var(--c-burgendy);
}

main {
    font-size: var(--f4);
    background-color: var(--c-white);
    flex-grow: 1;
}

img {
    max-width: 100%;
}