@import '/src/scss/1.Settings/_index';

ul {
    display: flex;
    gap: var(--s4);
}

li {
    position: relative;
    overflow: hidden;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: var(--f5);
    overflow: hidden;
    padding: rem(2) 0 0;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: rem(2);
        transition: transform linear .2s;
    }

    &::before {
        top: rem(2);
        border-top: solid rem(2) var(--c-burgendy);
        transform: translate(calc(100% + 3px));
    }

    &::after {
        bottom: rem(2);
        border-bottom: solid rem(2) var(--c-burgendy);
        transform: translate(calc(-100% - 3px));
    }

    &:hover,
    &:focus-visible,
    &.active {
        &::before,
        &::after {
            transform: translate(0);
        }
    }
}