@import '/src/scss/1.Settings/_index';

.header {
    position: relative;
    font-family: $heading-font;
    color: var(--c-white);
    background-color: var(--c-green);
    border-bottom: 8px solid var(--c-burgendy);
    @include media($bp-medLg, null, 'max') {
        text-shadow: 2px 2px 3px var(--c-black);
    }
}

@include media($bp-medLg, null, 'max') {
    .header__image-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background: linear-gradient(135deg, rgba($c-green, 0.7), rgba($c-green, 0.7), rgba($c-green, 0.3));
    }
}

.picture {
    display: block;
    max-height: rem(400);
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include media($bp-medLg) {
        display: none;
    }
}

.header__content {
    display: flex;
    flex-direction: column;
    gap: var(--s4);

    @include media($bp-medLg) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

h1 {
    line-height: 1;
    span {
        font-size: var(--f5);
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }
}

.phone {
    
    font-size: var(--f5);
    font-weight: 700;
    display: flex;
    align-items: center;
    
    @include media($bp-medLg) {
        justify-content: flex-end;
    }

    .icon {
        margin-right: rem(8);
    }
}

.address {
    font-size: var(--f3);
    @include media($bp-medLg) {
        font-size: var(--f4);
    }
}