@import '/src/scss/1.Settings/_index';



.form__row {    
    grid-template-columns: 1fr 11ch auto;
}

.price {
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.price__pound {
    font-size: var(--f5);
}

.group {
    
}

.group__name {
    display: flex;
    align-items: flex-end;
    gap: var(--s1);

    .button__body {
        font-size: var(--f4);
    }

    .input {
        flex-grow: 1;
    }
}

.form__actions {
    gap: var(--s3);
    justify-content: space-between;
}
